<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Inicio</title>
  </head>
  <body>
    {% extends "base.html" %} {% block content %}
    <div class="container-fluid">
      <div class="jumbotron">
        <h1 class="display-2">Welcome</h1>
        {% if current_user.is_authenticated %}
        <h1 class="display-3"><strong>{{ current_user.username }}!</strong></h1>
        {% endif %}
      </div>
    </div>

    {% endblock %}
  </body>
</html>
