<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Change</title>
  </head>
  <body>
    {% extends "base.html" %} {% block content %}
    <div class="container mb-4">
      <div class="jumbotron">
        <form action="/myuser/{{datos.id}}" method="POST">
          <h3 class="text-center display-3">My User</h3>
          <!-- Campo -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default"
                >Username</span
              >
            </div>
            <input
              type="text"
              class="form-control"
              aria-label="Default"
              aria-describedby="inputGroup-sizing-default"
              value="{{datos.username}}"
              name="username"
              required
            />
          </div>
          <!-- Fin Campo -->
          <!-- Campo -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default"
                >Right</span
              >
            </div>
            <input
              type="text"
              class="form-control"
              aria-label="Default"
              aria-describedby="inputGroup-sizing-default"
              value="{{datos.right}}"
              name="right"
              readonly
            />
          </div>
          <!-- Fin Campo -->
          <!-- Campo -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default"
                >Password</span
              >
            </div>
            <input
              type="password"
              class="form-control"
              aria-label="Default"
              aria-describedby="inputGroup-sizing-default"
              name="password"
              required
            />
          </div>
          <!-- Fin Campo -->
          <!-- Campo -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default"
                >Question</span
              >
            </div>
            <input
              type="text"
              class="form-control"
              aria-label="Default"
              aria-describedby="inputGroup-sizing-default"
              name="question"
              value="{{datos.passwords.question}}"
              readonly
            />
          </div>
          <!-- Fin Campo -->
          <!-- Campo -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default"
                >Answer</span
              >
            </div>
            <input
              type="text"
              class="form-control"
              aria-label="Default"
              aria-describedby="inputGroup-sizing-default"
              name="answer"
              required
            />
          </div>
          <!-- Fin Campo -->
          <!-- Campo -->
          <div class="form-group mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          <!-- Fin Campo -->
        </form>
      </div>
    </div>

    {% endblock %}
  </body>
</html>
