body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  padding: 0 !important;
  margin: 0 !important;
}

.jumbotron {
  border: none !important;
  height: 100%;
  width: 100%;
}

.h-100 {
  min-height: 100vh;
}
